.bio__data {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.bio__heading {
  font-size: var(--font-size-70);
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
}

.bio__objective {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-20);
  margin: 3rem 0 8rem;
}

.bio__links {
  font-size: 2.4rem;
  font-weight: var(--font-weight-semi-bold);
}

.bio__name {
  font-weight: var(--font-weight-semi-bold);
}

.bio__almdrasa {
  color: var(--color-green);
}

.bio__linkedin {
  color: var(--color-dark-blue);
}

.bio__github {
  color: var(--color-dark-grey);
}

.say-hi-link {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 0.7rem 4.7rem;
}

.find-out-link {
  padding: 0.7rem 0;
  margin-inline-start: 1.4rem;
}

@keyframes jump {
  0% {
    transform: translateY(0.5rem);
  }
  35% {
    transform: translateY(-0.5rem);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.bio__arrow {
  display: inline-block;
  animation: jump 1s infinite ease-in-out alternate;
}

.bio__pic-content {
  display: flex;
  position: relative;
  align-items: flex-end;
  justify-self: end;
}

.bio__pic-content::before {
  content: "";
  position: absolute;
  background-color: var(--color-box-img);
  width: 100%;
  height: 46rem;
  z-index: -1;
  border-radius: 1.8rem;
}

.bio__pic {
  width: 42.7rem;
}
