.contact {
  column-gap: 20rem;
  row-gap: 0;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.contact__description {
  font-size: var(--font-size-20);
  line-height: 1.9;
}

.contact__email {
  font-weight: var(--font-weight-bold);
  margin: 2.5rem 0;
}

.contact__social {
  display: inline-block;
  transition: transform 0.3s ease;
}

.contact__social:hover {
  transform: scale(1.25);
}

.contact__inputs {
  display: flex;
  gap: 3rem;
}

.contact__input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 0.1rem solid var(--color-input-border);
  flex: 1;
}

.contact__textarea {
  width: 100%;
  margin-top: 4rem;
  resize: vertical;
  min-height: 15rem;
}

.contact__button {
  border: 0;
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 1.7rem 1.8rem;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-24);
  margin-top: 4rem;
  display: block;
}
