.projects__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
  align-items: center;
}

.projects__img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 1.2rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.projects__data {
  align-self: center;
}

.projects__description {
  line-height: 1.5;
}

.projects__link {
  color: var(--color-darker-blue);
  font-family: var(--font-family-poppins);
  font-weight: var(--font-weight-medium);
  margin-top: 2.3rem;
}

.projects__link::after {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url("./images/external-icon.png");
  background-size: contain;
  margin-left: 0.6rem;
}
